#hotbar {
    width: auto;
    display: flex;
    gap: 4px;
    background: rgba(0, 0, 0, 0.5);
    padding: 4px;
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    
}

@import 'hotbar_slot';